openapi: 3.2.0
info:
  description: Policy management APIs for health and ancillary insurance
  title: Noyo Fulfillment Platform Group Structure API
  version: 1.0.0
servers:
- description: Noyo Fulfillment API - Live
  url: https://fulfillment.noyo.com
- description: Noyo Fulfillment API - Sandbox
  url: https://fulfillment-sandbox.noyo.com
tags:
- name: Platform Group Structure
paths:
  /ui/v1/platform_group_structures/{platform_group_structure_id}/{version}:
    x-summary: Update a platform group structure
    put:
      description: Update a platform group structure based on the ID provided.
      operationId: updatePlatformGroupStructureUI
      parameters:
      - description: Unique identifier of the platform group structure you want to edit.
        in: path
        name: platform_group_structure_id
        required: true
        schema:
          example: 235bda1f-3f49-4502-be03-fd9179dfc10e
          format: uuid
          type: string
      - description: Unique version of the platform group structure you want to edit.
        in: path
        name: version
        required: true
        schema:
          example: 164c93ff-2101-4436-b187-125f73e965e2
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlatformGroupStructureUpdateRequestUI'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UIGroupPlatformGroupStructureResult'
          description: Successful Response - Returns the modified Platform Group Structure
      summary: Update a Platform Group Structure
      tags:
      - Platform Group Structure
components:
  schemas:
    UIGroupPlatformGroupStructureResult:
      properties:
        created:
          description: The date the record was created
          type: integer
        group_id:
          description: Unique identifier of the group
          format: uuid
          type: string
        id:
          description: Unique identifier of the record in Noyo
          format: uuid
          type: string
        modified:
          description: The date the record was last updated
          type: integer
        organization_id:
          description: Unique identifier of the organization
          format: uuid
          type: string
        structure:
          $ref: '#/components/schemas/PlatformStructure'
        version:
          description: Current version of the record
          format: uuid
          type: string
      required:
      - created
      - group_id
      - id
      - modified
      - organization_id
      - version
      type: object
      x-field_order: []
    PlatformStructurePlan:
      properties:
        carrier_id:
          format: uuid
          type: string
        custom_plan_id:
          type:
          - string
          - 'null'
        id:
          format: uuid
          type:
          - string
          - 'null'
        line_of_coverage:
          type: string
        name:
          type:
          - string
          - 'null'
        temporals:
          items:
            $ref: '#/components/schemas/PlatformStructureTemporalPlan'
          type: array
      required:
      - carrier_id
      - line_of_coverage
      type: object
    PlatformStructureTemporalPlan:
      properties:
        configuration:
          type:
          - string
          - 'null'
        end_date:
          description: Temporal end date of the record
          example: '2020-01-01'
          format: date
          type:
          - string
          - 'null'
        start_date:
          description: Temporal start date of the record
          example: '2019-01-01'
          format: date
          type: string
      type: object
    PlatformStructure:
      properties:
        plans:
          items:
            $ref: '#/components/schemas/PlatformStructurePlan'
          type:
          - array
          - 'null'
      type: object
    PlatformGroupStructureUpdateRequestUI:
      properties:
        created:
          description: The date the record was created
          type: integer
        group_id:
          description: Unique identifier of the group
          format: uuid
          type: string
        id:
          description: Unique identifier of the record in Noyo
          format: uuid
          type: string
        modified:
          description: The date the record was last updated
          type: integer
        organization_id:
          description: Unique identifier of the organization
          format: uuid
          type: string
        structure:
          $ref: '#/components/schemas/PlatformStructure'
        version:
          description: Current version of the record
          format: uuid
          type: string
      required:
      - created
      - group_id
      - id
      - modified
      - organization_id
      - version
      type: object
      x-field_order: []
x-readme:
  explorer-enabled: false
