openapi: 3.2.0
info:
  description: Policy management APIs for health and ancillary insurance
  title: Noyo Fulfillment Person API
  version: 1.0.0
servers:
- description: Noyo Fulfillment API - Live
  url: https://fulfillment.noyo.com
- description: Noyo Fulfillment API - Sandbox
  url: https://fulfillment-sandbox.noyo.com
tags:
- name: Person
paths:
  /api/v1/people:
    post:
      description: Search for people based on various criteria including name, date of birth, and SSN
      operationId: searchPeople
      requestBody:
        content:
          application/json:
            schema:
              properties:
                date_of_birth:
                  description: Date of birth to search for
                  format: date
                  type: string
                first_name:
                  description: First name to search for
                  type: string
                full_name:
                  description: Full name to search for
                  type: string
                group_id:
                  description: Group ID to filter results by
                  format: uuid
                  type: string
                last_name:
                  description: Last name to search for
                  type: string
                size:
                  description: Maximum number of results to return
                  minimum: 1
                  type: integer
                ssn:
                  description: Social Security Number to search for
                  type: string
              required:
              - full_name
              type: object
        description: People search criteria
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  properties:
                    date_of_birth:
                      format: date
                      type: string
                    dependent_id:
                      format: uuid
                      type:
                      - string
                      - 'null'
                    employee_id:
                      format: uuid
                      type:
                      - string
                      - 'null'
                    full_name:
                      type: string
                    group_id:
                      format: uuid
                      type: string
                    id:
                      format: uuid
                      type: string
                    match_score:
                      format: float
                      type: number
                  type: object
                type: array
          description: Successful response
        '401':
          description: Unauthorized - Authentication required
        '403':
          description: Forbidden - Insufficient permissions
      summary: Search people
      tags:
      - Person
x-readme:
  explorer-enabled: false
